@using Microsoft.AspNetCore.Mvc.Localization
@using SAFETY.Resources
@inject IHtmlLocalizer<SharedResources> _localizer
@{
    ViewData["Title"] = @_localizer["商品分類資料維護"];
}
<div id="CategoryVue">
    <!--列表搜尋-->
    <div class="FormGroupWarp">
        <fieldset class="SearchBox FormGroup FormElmt">
            <legend class="FormGroupTitle"><span>@_localizer["搜尋條件"]</span></legend>
            <div class="FormTable">
                <div class="item">
                    <div class="label">@_localizer["商品分類代碼"]</div>
                    <div class="cont">
                        <input type="text" v-model="queryInfo.CategoryCode" />
                    </div>
                </div>
                <div class="item">
                    <div class="label">@_localizer["商品分類名稱"]</div>
                    <div class="cont">
                        <input type="text" placeholder="@_localizer["可模糊查詢"]" v-model="queryInfo.CategoryName" />
                    </div>
                </div>
                <div class="item">
                    <div class="label">@_localizer["狀態"]</div>
                    <div class="cont">
                        <select v-model="queryInfo.IsStop">
                            <option value="">@_localizer["請選擇"]</option>
                            <option value="N">@_localizer["啟用"]</option>
                            <option value="Y">@_localizer["停用"]</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="BtnCommon mid">
                <div class="search"><span><input type="submit" value="@_localizer["搜尋"]" v-on:click="onSearch" /></span></div>
            </div>

            <div class="btnBox">
                <div class="add">
                    <a href="javascript:;" v-on:click="Add">@_localizer["新增"]</a>
                </div>
            </div>
        </fieldset>
    </div>

    <!--列表資料-->
    <div class="ListTable" v-show="arrResult.length>0">
        <table id="dataTable" class="table dataTable stripe">
        </table>
    </div>

    @*新增/編輯視窗*@
    <div class="popup_box large boxDetail">
        <div class="box_wrap">
            <div class="FormTable">
                <div class="popup_title">{{objInfo.CategoryId=='0'?'@_localizer["新增"]':'@_localizer["修改"]'}} @_localizer["商品分類資料"]</div>
                <div class="popup_cont">
                    <div class="SearchItems FormElmt">
                        <div class="item">
                            <div class="label"><span class="red">*</span>@_localizer["商品分類代碼"]</div>
                            <div class="cont">
                                <input type="text" v-if="objInfo.CategoryId =='0'" maxlength="10" v-model="objInfo.CategoryCode">
                                <input type="text" v-if="objInfo.CategoryId != '0'" disabled="disabled" v-model="objInfo.CategoryCode">
                            </div>
                        </div>
                        <div class="item">
                            <div class="label"><span class="red">*</span>@_localizer["商品分類名稱"]</div>
                            <div class="cont">
                                <input type="text" maxlength="20" v-model="objInfo.CategoryName">
                            </div>
                        </div>
                        <div class="item">
                            <div class="label"><span class="red">*</span>@_localizer["狀態"]</div>
                            <div class="cont">
                                <select v-model="objInfo.IsStop">
                                    <option value="N">@_localizer["啟用"]</option>
                                    <option value="Y">@_localizer["停用"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="item fullwidth">
                            <div class="label">@_localizer["備註"]</div>
                            <div class="cont">
                                <textarea rows="2" class="fullwidth" maxlength="200" v-model="objInfo.Remarks"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="BtnCommon mid">
                        <div class="submit"><span><input type="button" value="@_localizer["送出"]" v-on:click="onSubmit" /></span></div>
                        <div class="cancel"><span><input type="button" value="@_localizer["取消"]" /></span></div>
                    </div>
                </div>
            </div><a class="close" title="@_localizer["關閉"]">@_localizer["關閉"]</a>
        </div>
    </div>
    @*新增/編輯視窗end*@
</div>
@section Scripts{
    <script>
        var vm = new Vue({
            el: '#CategoryVue',
            components: {
            },
            data: function () {
                return {
                    // 查詢條件
                    queryInfo: {
                        CategoryCode: '',
                        CategoryName: '',
                        IsStop: ''
                    },
                    // 查詢結果
                    arrResult: [],
                    // 新增/編輯
                    objInfo: {
                        CategoryId:'0',
                        CategoryCode: '',
                        CategoryName: '',
                        IsStop: 'N'
                    }
                }
            },
            methods: {
                // 新增
                Add: function () {
                    this.objInfo = {
                        CategoryId: '0',
                        CategoryCode: '',
                        CategoryName: '',
                        IsStop: 'N'
                    };
                    $('.boxDetail').addClass('show');
                    $('body').addClass('fixed');
                },
                onSearch: function () {
                    let thisvue = this;
                    thisvue.objInfo = {};
                    thisvue.arrResult = [];

                    thisvue.coulmnSet = [
                        {
                            title: "@_localizer["商品分類代碼"]",
                            "data": "CategoryCode"
                        },
                        {
                            title: "@_localizer["商品分類名稱"]",
                            "data": "CategoryName"
                        },
                        {
                            title: "@_localizer["備註"]",
                            "data": "Remarks"
                        },
                        {
                            title: "@_localizer["狀態"]",
                            "data": "IsStop"
                        },
                        {
                            title: "@_localizer["操作"]",
                            "data": "CategoryId"
                        }
                    ];

                    thisvue.columnDef = [
                        {
                            "className": "text-center",
                            "targets": [3],
                            mRender: function (result) {
                                if (result != null) {
                                    var sbtn = result == "N" ? "@_localizer["啟用"]" : "@_localizer["停用"]";
                                    return sbtn;
                                }
                            }
                        },
                        {
                            "className": "text-center",
                            "targets": [4],
                            mRender: function (result) {
                                if (result != null) {
                                    var sbtn = '<ul class=\"edit_btns\"><li><a href=\"javascript:;\" class=\"edit\" title=\"@_localizer["編輯"]\" onclick=\"vm.editSet()\"></a></li><li><a href=\"javascript:;\" class=\"del\" title=\"@_localizer["刪除"]\" onclick=\"vm.onDelete()\"></a></li></ul>';
                                    return sbtn;
                                }
                            }
                        }
                    ];

                    var issearch = false;
                    LoadDataTable('@Url.Action("QueryProductCategory", "ProdCategoryApi", new { Area = "CustMgmt" })', this.queryInfo, this.coulmnSet, this.columnDef, issearch)
                        .then(function () {
                            thisvue.arrResult = $('#dataTable').DataTable().rows().data();
                            $('#dataTable tbody').on('click', 'tr', function () {
                                $('#dataTable').DataTable().$('tbody tr.selected').removeClass('selected');
                                $(this).toggleClass('selected');
                                if ($('#dataTable').DataTable().rows('.selected').data().length > 0) {
                                    thisvue.objInfo = JSON.parse(JSON.stringify($('#dataTable').DataTable().rows('.selected').data()[0]));
                                } else
                                    thisvue.objInfo = {};
                            });
                        });
                },
                //讀取
                editSet: function () {
                    $('.boxDetail').addClass('show');
                    $('body').addClass('fixed');
                },
                // 儲存
                onSubmit: function () {
                    axios.post('/api/CustMgmt/ProdCategoryApi/SaveProductCategory', this.objInfo)
                        .then(function (res) {
                            _AlertMsg(res.data.isOk, res.data.msg)
                            // 編輯成功，清空選擇資料
                            if (res.data.isOk) {
                                $('.boxDetail').removeClass('show')
                                $('body').removeClass('fixed')
                                this.onSearch();
                            }
                        }.bind(this))
                        .catch(function (err) {
                            console.error(err);
                        })
                },
                onDelete: function () {
                    let thisvue = this;
                    _ConfirmAlert('w', '@_localizer["警告"]', '@_localizer["確定刪除嗎?"]', true, function () {
                        axios.post('/api/CustMgmt/ProdCategoryApi/DeleteProductCategory', thisvue.objInfo)
                            .then(function (res) {
                                // 刪除成功，清空選擇資料
                                if (res.data.isOk) {
                                    let RemoveIndex;
                                    var filteredElements = thisvue.arrResult.filter(function (item, index) { RemoveIndex = index; return item.CategoryId == thisvue.objInfo.CategoryId; });
                                    thisvue.arrResult.splice(RemoveIndex, 1);
                                    thisvue.objInfo = {};
                                    $('#dataTable').DataTable().rows('.selected').remove().draw(false);
                                }
                                else {
                                    _AlertMsg(false, res.data.msg);
                                }
                            }.bind(this))
                            .catch(function (err) {
                                console.error(err);
                            })
                    });
                }

            }
        })
    </script>
}