@model SAFETYModel.FullNotice
@using Microsoft.AspNetCore.Mvc.Localization
@using SAFETY.Resources
@inject IHtmlLocalizer<SharedResources> _localizer
@{
    ViewData["Title"] = @_localizer["進貨通知資料維護"];
}
<div id="PurchaseNoticeVue">
    <div class="ContRight">
        <div class="tabs">
            <ul>
                <li v-bind:class="tab===1?'active':''">
                    <a href="javascript:void(0)" v-on:click="tab=1">@_localizer["進貨通知單"]</a>
                </li>
                <li v-bind:class="tab===2?'active':''">
                    <a href="javascript:void(0)" v-on:click="tab=2">@_localizer["進貨通知明細"]</a>
                </li>
                <li v-bind:class="tab===3?'active':''">
                    <a href="javascript:void(0)" v-on:click="tab=3">@_localizer["檔案上傳"]</a>
                </li>
            </ul>
        </div>
    </div>

    <div v-show="tab===1">
        <notice-basic v-model="objMainInfo"></notice-basic>
    </div>
    <div v-show="tab===2">
        <notice-detail v-model="objMainInfo"></notice-detail>
    </div>
    <div v-show="tab===3">
        <notice-upload v-model="objMainInfo"></notice-upload>
    </div>

    <div class="btnBox tc">
        <div>
            <div class="check" v-show="!this.objMainInfo.isView"><a href="javascript:;" v-on:click="SaveOrder()">@_localizer["儲存"]</a></div>
            <div class="cancel"><a asp-area="Purchase" asp-controller="Home" asp-action="PurchaseNoticeList">@_localizer["離開"]</a></div>
        </div>
    </div>

</div>
@section Scripts{
    <Partial name="/Areas/Purchase/Views/Templates/_PurchaseNoticeBasic.cshtml" />
    <Partial name="/Areas/Purchase/Views/Templates/_PurchaseNoticeDetail.cshtml" />
    <Partial name="/Areas/Purchase/Views/Templates/_PurchaseNoticeUpload.cshtml" />
    <script>
        /*Main*/
        var vm = new Vue({
            el: '#PurchaseNoticeVue',
            components: {
                "notice-basic": PurchaseNoticeBasic,
                "notice-detail": PurchaseNoticeDetail,
                "notice-upload": PurchaseNoticeUpload
            },
            data: function () {
                return {
                    objMainInfo: {
                        // 主檔
                        basicinfo: {
                            OrderId: '0',
                            OrderNo: '',
                            DcId: '0',
                            CustomerId: '0',
                            ReceiveType: '0',
                            OperateType: '0',
                            IsUrgentOrder: '0',
                            AcceptId: '0',
                            NotificationStatus: '2',
                            isChangeCustomer: false,
                        },
                        // 明細資料
                        objDetailInfos: [],
                        // 已上傳附件
                        objMainFiles: [],
                        // 新上傳附件
                        objNewFiles: [],
                        selectCustomerId:'0',
                        isView: false
                    },
                    tab: 1
                }
            },
            computed: {
            },
            created: function () {
                // 讀取通知單資料
                this.GetOrderData();
            },
            methods: {
                // 讀取通知單資料
                GetOrderData: function () {
                    // 判斷是否有傳入申請單號,有:編輯 無:新增
                    var orderid = '@Model.NotificationOrder.OrderId';
                    if (orderid == null || orderid == "" || orderid == "0") {
                        return;
                    }

                    axios.get('/api/Purchase/PurchaseNoticeApi/GetNoticeData',
                        {
                            params: { orderid: orderid }
                        })
                        .then(function (res) {
                            if (res.data.isOk) {
                                if (res.data.dt == null) {
                                    window.location.href = '@Url.Content("~/")' + 'Purchase/Home/PurchaseNoticeList';
                                    return;
                                }
                                this.objMainInfo.basicinfo = res.data.dt.notificationOrder;
                                this.objMainInfo.selectCustomerId = this.objMainInfo.basicinfo.CustomerId;
                                this.objMainInfo.basicinfo.isChangeCustomer = true;
                                this.objMainInfo.isView = res.data.dt.isView;
                                //明細
                                this.objMainInfo.objDetailInfos = res.data.dt.notificationDetail;
                                //附件
                                this.objMainInfo.objMainFiles = res.data.dt.uploadFiles;
                            }
                            else
                                _AlertMsg(false, res.data.msg)
                        }.bind(this))
                        .catch(function (err) {
                            console.error(err);
                        });
                },
                //存檔
                SaveOrder: function () {
                    // 驗證欄位是否已填寫
                    if (!this.VerifyData()) return;

                    let resultDetail = [];
                    for (var i = 0; i < this.objMainInfo.objDetailInfos.length; i++) {
                        resultDetail.push(JSON.parse(JSON.stringify(this.objMainInfo.objDetailInfos[i])));
                    }

                    // 要Post到Api的資料集合
                    var postData = {
                        NotificationOrder: this.objMainInfo.basicinfo,          // 主檔
                        NotificationDetail: resultDetail,                                    // 明細
                        UploadFiles: this.objMainInfo.objMainFiles               //已上傳附件
                    }

                    axios.post('/api/Purchase/PurchaseNoticeApi/SaveNotice', postData)
                        .then(function (res) {
                            if (res.data.isOk) {
                                if (this.objMainInfo.objNewFiles.length > 0) {
                                    this.UploadNewFile(this.objMainInfo.basicinfo.OrderId, res.data.dt);
                                }
                                else {
                                    _AlertMsg(res.data.isOk, res.data.msg, function () {
                                        window.location.href = '@Url.Content("~/")' + 'Purchase/Home/PurchaseNotice/' + res.data.dt;
                                    })
                                }
                            }
                            else
                                _AlertMsg(false, res.data.msg);
                        }.bind(this))
                        .catch(function (err) {
                            console.error(err);
                        })

                },
                // 新增附件
                UploadNewFile: function (savetype, orderid) {
                    if (orderid === "") {
                        return;
                    }
                    var formData = new FormData();
                    // 附檔
                    for (var i = 0; i < this.objMainInfo.objNewFiles.length; i++) {
                        formData.append("[" + i + "].UP_FILE", this.objMainInfo.objNewFiles[i].FILE_DATA);
                    }

                    const headers = {
                        'cache': false,
                        'contentType': false,
                        'processData': false
                    }
                    axios.post('/api/Purchase/PurchaseNoticeApi/UploadNoticeNewFile?orderid=' + orderid, formData, {
                            headers: headers
                        })
                        .then(function (res) {
                            if (res.data.isOk) {
                                _AlertMsg(res.data.isOk, (savetype == "0" ? "@_localizer["新增成功"]" : "@_localizer["修改成功"]"), function () {
                                    window.location.href = '@Url.Content("~/")' + 'Purchase/Home/PurchaseNotice/' + orderid;
                                })
                            }
                            else
                                _AlertMsg(false, res.data.msg);
                        }.bind(this))
                        .catch(function (err) {
                            console.error(err);
                        })
                },
                // 驗證必填欄位是否有填寫
                VerifyData: function () {
                    var msg = "";
                    if (this.objMainInfo.basicinfo.DcId === "0" || this.objMainInfo.basicinfo.DcId === "") {
                        msg += "@_localizer["請選擇物流中心"]<br />";
                    }

                    if (this.objMainInfo.basicinfo.CustomerId === "0" || this.objMainInfo.basicinfo.CustomerId === "") {
                        msg += "@_localizer["請選擇客戶"]<br />";
                    }

                    if (this.objMainInfo.basicinfo.AcceptId === "0" || this.objMainInfo.basicinfo.AcceptId === "") {
                        msg += "@_localizer["請填寫驗收人員"]<br />";
                    }

                    if (this.objMainInfo.objDetailInfos.length === 0) {
                        msg += "@_localizer["請加入明細資料"]<br />";
                    }

                    if (msg.trim() != "") {
                        _AlertMsg(false, msg);
                        return false
                    }
                    return true
                }

            }
        })
    </script>
}
