@using Microsoft.AspNetCore.Mvc.Localization
@using SAFETY.Resources
@inject IHtmlLocalizer<SharedResources> _localizer
<script type="text/template" id="ReturnedOrderDetail">
    <div>
        {{refreshVal}}
        {{refreshSeq}}
        <div id="DetailList">
            <div class="ListTable" v-show="objDetailInfos.length>0">
                <div class="tableFlex">
                    <table>
                        <tbody>
                            <tr>
                                <th>@_localizer["商品名稱"]</th>
                                <th>@_localizer["商品代碼"]</th>
                                <th>@_localizer["商品條碼"]</th>
                                <th>@_localizer["批號"]</th>
                                <th>@_localizer["單位"]</th>
                                <th>@_localizer["製造日期"]</th>
                                <th>@_localizer["有效期限"]</th>
                                <th>@_localizer["退庫數量"]</th>
                                <th>@_localizer["商品狀態"]</th>
                                <th>@_localizer["操作"]</th>
                            </tr>
                            <tr v-for="(item,index) in objDetailInfos">
                                <td>{{item.ProductName}}</td>
                                <td>{{item.ProductCode}}</td>
                                <td>{{item.Barcode}}</td>
                                <td>{{item.ProductLotNo}}</td>
                                <td>{{item.PackageName}}</td>
                                <td>{{filterDate(item.MakeDate)}}</td>
                                <td>{{filterDate(item.ExpirationDate)}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{showProductStatus(item.ProductStatus)}}</td>
                                <td>
                                    <ul class="edit_btns">
                                        <li v-show="!isView"><a href="javascript:void(0)" class="edit" title="@_localizer["編輯"]" v-on:click="EditDetail(item)"></a></li>
                                        <li v-show="!isView"><a href="javascript:void(0)" class="del" title="@_localizer["移除"]" v-on:click="DeleteDetail(item)"></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @*編輯 視窗 *@
        <div class="popup_box large" id="boxDetail">
            <div class="box_wrap">
                <div class="FormTable">
                    <div class="popup_title">@_localizer["退庫明細"]</div>
                    <div class="popup_cont">
                        <div class="SearchBox FormElmt">
                            <div class="SearchItems">
                                <div class="item ">
                                    <div class="label">@_localizer["商品名稱"]</div>
                                    <div class="cont">
                                        <input type="text" v-model="objEditInfo.ProductName" disabled />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["商品代碼"]</div>
                                    <div class="cont">
                                        <input type="text" v-model="objEditInfo.ProductCode" disabled />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["商品條碼"]</div>
                                    <div class="cont">
                                        <input type="text" v-model="objEditInfo.Barcode" disabled />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["批號"]</div>
                                    <div class="cont">
                                        <input type="text" v-model="objEditInfo.ProductLotNo" disabled />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["單位"]</div>
                                    <div class="cont">
                                        <input type="text" v-model="objEditInfo.PackageName" disabled />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["製造日期"]</div>
                                    <div class="cont">
                                        <input type="date" v-bind:value="filterDate(objEditInfo.MakeDate)"
                                               v-on:input="objEditInfo.MakeDate=$event.target.value" />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["有效期限"]</div>
                                    <div class="cont">
                                        <input type="date" v-bind:value="filterDate(objEditInfo.ExpirationDate)"
                                               v-on:input="objEditInfo.ExpirationDate=$event.target.value" />
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="label">@_localizer["退貨數量"]</div>
                                    <div class="cont">
                                        <input type="text" v-model="objEditInfo.Quantity" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label"><span class="red">*</span>@_localizer["商品狀態"]</div>
                                    <div class="cont">
                                        <select v-model="objEditInfo.ProductStatus">
                                            <option value="0">@_localizer["請選擇"]</option>
                                            <option value="1">@_localizer["良品"]</option>
                                            <option value="2">@_localizer["不良品"]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="BtnCommon mid">
                        <div class="submit"><span><input type="button" value="@_localizer["確定"]" v-on:click="SetDetail" /></span></div>
                        <div class="cancel"><span><input type="submit" value="@_localizer["取消"]" v-on:click="CancelDetail" /></span></div>
                    </div>
                </div>
                <a class="close" title="@_localizer["關閉" ]">@_localizer["關閉"]</a>
            </div>
        </div>

    </div>
</script>
<script>
    var ReturnedOrderDetail = {
        template: '#ReturnedOrderDetail',
        props: {
            value: {
                type: Object
            }
        },
        components: {
        },
        data: function () {
            return {
                // 主檔
                objBasicInfo: {},
                // 所有明細資訊
                objDetailInfos: [],
                // 已選擇新增/編輯的明細項次
                objEditInfo: {},
                oldQuantity: 0
            }
        },
        computed: {
            // 取得父組件v-model資料
            refreshVal() {
                this.objBasicInfo = this.value.basicinfo;
                this.objDetailInfos = this.value.objDetailInfos;
                this.isView = this.value.isView;
            },
            //  更新序號 (編輯時，全部刪除重建)
            refreshSeq: function () {
                for (var i = 0; i < this.objDetailInfos.length; i++) {
                    // 更新明細序號
                    this.objDetailInfos[i].DetailSeq = i + 1;
                }
            }
        },
        methods: {
            filterDate: function (val) {
                return val ? val.replace('T00:00:00', '') : ''
            },
            // 設定
            SetDetail: function () {
                var msg = "";

                if (this.objEditInfo.MakeDate == "")
                    msg += "@_localizer["製造日期不可空白"]<br />";

                if (this.objEditInfo.ExpirationDate == "")
                    msg += "@_localizer["有效期限不可空白"]<br />";

                if (this.objEditInfo.Quantity <= 0)
                    msg += "@_localizer["退貨數量必須為大於0的數值"]<br />";

                if (this.objEditInfo.Quantity > this.oldQuantity)
                    msg += "@_localizer["退貨數量必須小於等於"] " + this.oldQuantity + "<br />";

                if (msg != "") {
                    _AlertMsg(false, msg);
                    return false;
                }

                if (typeof (this.objEditInfo.DetailSeq) == "undefined" || this.objEditInfo.DetailSeq == null || this.objEditInfo.DetailSeq == "") {
                    this.objDetailInfos.push(JSON.parse(JSON.stringify(this.objEditInfo)))
                }
                else {
                    for (var i = 0; i < this.objDetailInfos.length; i++) {
                        if (this.objDetailInfos[i].DetailSeq === this.objEditInfo.DetailSeq) {
                            this.objDetailInfos[i] = JSON.parse(JSON.stringify(this.objEditInfo));
                        }
                    }
                }

                this.objEditInfo = {
                    ProductId: '0',
                    Unit: '0'
                };
                // jquery 關閉視窗
                $('#boxDetail').removeClass('show');
                $('body').removeClass('fixed');
            },
            // 商品狀態
            showProductStatus: function (id) {
                var val = "";
                id = id == null ? "" : id;
                switch (id.toString()) {
                    case "1": val = "@_localizer["良品"]"; break;
                    case "2": val = "@_localizer["不良品"]"; break;
                }
                return val;
            },
            // 關閉視窗
            CancelDetail: function () {
                // jquery 關閉視窗
                $('#boxDetail').removeClass('show');
                $('body').removeClass('fixed');
            },
            //編輯明細
            EditDetail: function (editItem) {
                this.objEditInfo = JSON.parse(JSON.stringify(editItem));
                this.objEditInfo.ExpirationDate = this.filterDate(this.objEditInfo.ExpirationDate);
                this.objEditInfo.MakeDate = this.filterDate(this.objEditInfo.MakeDate);
                this.oldQuantity = this.objEditInfo.Quantity;
                $('#boxDetail').addClass('show');
                $("div").scrollTop(0);
                $('body').addClass('fixed');
            },
            //刪除明細
            DeleteDetail: function (objItem) {
                Swal.fire({
                    title: '@_localizer["確定移除此筆明細資料"]',
                    html: '',
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonText: '@_localizer["確定"]',
                    cancelButtonText: '@_localizer["取消"]'
                }).then(
                    function (result) {
                        if (result.isConfirmed) {
                            for (var i = 0; i < this.objDetailInfos.length; i++) {
                                if (this.objDetailInfos[i].DetailSeq === objItem.DetailSeq) {
                                    this.objDetailInfos.splice(i, 1)
                                }
                            }
                        }
                    }.bind(this));
            }

        }
    }
</script>